<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동네 식당 등록/수정</title>
</head>
<body>
    <div class="container">
        <a href="/restaurants">뒤로</a>
        <input type="hidden" id="restaurant-id-aom" th:value="${restaurant.restaurantIdx}">
        <input type="text" id="name" placeholder="이름" th:value="${restaurant.name}">
        <input type="text" id="road-address" placeholder="도로명 주소" th:value="${restaurant.roadAddress}">
        <input type="text" id="detail-address" placeholder="상세 주소" th:value="${restaurant.detailAddress}">
        <input type="number" id="longitude" placeholder="경도" th:value="${restaurant.coordinates?.x}">
        <input type="number" id="latitude" placeholder="위도" th:value="${restaurant.coordinates?.y}">
        <input type="text" id="open-at" placeholder="오픈 시간" th:value="${restaurant.openAt}">
        <input type="text" id="close-at" placeholder="폐점 시간" th:value="${restaurant.closeAt}">
        <input type="text" id="image-url" placeholder="이미지 url" th:value="${restaurant.imageUrl}">
        <textarea type="text" id="additional-info" placeholder="추가 정보" th:text="${restaurant.additionalInfo}"></textarea>
        <button th:if="${restaurant.restaurantIdx != null}" type="button" id="modify-btn">수정</button>
        <button th:if="${restaurant.restaurantIdx == null}" type="button" id="create-btn">등록</button>
    </div>
    <script>
        const modifyButton = document.getElementById("modify-btn");

        if(modifyButton){
            modifyButton.addEventListener('click', function() {
                let restaurantId = Number(document.getElementById("restaurant-id-aom").value);
                fetch(`/api/restaurants/${restaurantId}`, {
                    method: 'PUT',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: document.getElementById("name").value,
                        roadAddress: document.getElementById("road-address").value,
                        detailAddress: document.getElementById("detail-address").value,
                        longitude: Number(document.getElementById("longitude").value),
                        latitude: Number(document.getElementById("latitude").value),
                        openAt: document.getElementById("open-at").value,
                        closeAt: document.getElementById("close-at").value,
                        imageUrl: document.getElementById("image-url").value,
                        additionalInfo: document.getElementById("additional-info").value
                    })
                }).then((response) => {
                    if(response.ok){
                        alert("수정 완료");
                        location.replace(`restaurants/${restaurantId}`);
                    }
                    else alert(response.status+": 다시 시도해주세요.");
                })
            })
        }

        const createButton = document.getElementById("create-btn");

        if(createButton){
            createButton.addEventListener('click', function() {
                fetch(`/api/restaurants`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: document.getElementById("name").value,
                        roadAddress: document.getElementById("road-address").value,
                        detailAddress: document.getElementById("detail-address").value,
                        longitude: Number(document.getElementById("longitude").value),
                        latitude: Number(document.getElementById("latitude").value),
                        openAt: document.getElementById("open-at").value,
                        closeAt: document.getElementById("close-at").value,
                        imageUrl: document.getElementById("image-url").value,
                        additionalInfo: document.getElementById("additional-info").value
                    })
                }).then((response) => {
                    if(response.ok){
                        alert("등록 완료");
                        location.replace("/restaurants");
                    }
                    else alert(response.status+": 다시 시도해주세요.");
                })
            })
        }
    </script>
</body>
</html>