<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동네 식당 상세</title>
</head>
<body>
    <div class="container">
        <a href="/restaurants">뒤로</a>
        <div style="
            background-color: lightgray;
            height: 500px;
        ">
            image
            <!-- image -->
        </div>
        <h1 th:text="${restaurant.name}"></h1>
        <div hidden id="restaurant-id-det" th:text="${restaurant.restaurantIdx}"></div>
        <div th:text="|${restaurant.roadAddress}, ${restaurant.detailAddress}|"></div>
        <div th:text="|영업 시간: ${restaurant.openAt} ~ ${restaurant.closeAt}|"></div>
        <div th:text="|★${restaurant.restaurantRating}|"></div>
        <div th:text="|점주 이메일: ${restaurant.ownerUsername}|"></div>
        <div th:text="${restaurant.additionalInfo}"></div>
        <label>좋아요</label>
        <button id="like-btn" th:text="${restaurant.likesCount}" th:value="${restaurant.liked ? 'true' : 'false'}"
                th:style="${restaurant.liked ? 'color: red' : 'color: black'}">
        </button>
        <div th:if="${restaurant.isMyRestaurant}">
            <button th:onclick="|location.href='@{/restaurantsAddOrModify?restaurantId={id}(id=${restaurant.restaurantIdx})}'|">수정</button>
            <button id="delete-btn">삭제</button>
        </div>
    </div>

    <script>
        const likeButton = document.getElementById("like-btn");

        if(likeButton){
            likeButton.addEventListener('click', function() {
                let restaurantId = Number(document.getElementById("restaurant-id-det").textContent);
                if(likeButton.value === 'true'){
                    fetch(`/api/restaurants/${restaurantId}/likes`, {
                        method: 'DELETE'
                    }).then(() => {
                        likeButton.textContent = String(Number(likeButton.textContent)-1);
                        likeButton.style.color = "black";
                        likeButton.value = 'false';
                    })
                }
                else{
                    fetch(`/api/restaurants/${restaurantId}/likes`, {
                        method: 'POST'
                    }).then(() => {
                        likeButton.textContent = String(Number(likeButton.textContent)+1);
                        likeButton.style.color = "red";
                        likeButton.value = 'true';
                    })
                }
            })
        }

        const deleteButton = document.getElementById("delete-btn");

        if(deleteButton){
            deleteButton.addEventListener('click', function() {
                if(confirm("삭제하시겠습니까?")){
                    let restaurantId = Number(document.getElementById("restaurant-id-det").textContent);
                    fetch(`/api/restaurants/${restaurantId}`, {
                        method: 'DELETE'
                    }).then(() => {
                        alert("삭제 완료");
                        location.replace("/restaurants");
                    })
                }
            })
        }
    </script>
</body>
</html>